-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900%7CRoboto:400",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-default-438x92.png',
			inverse: 'logo-inverse-438x92.png',
			name: 'TechDoc'
		},
		links = {
			post: '#',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#21BA5E'
		},
		menu = [
			{
				title: 'Home',
				link: '#home'
			},
			{
				title: 'Services',
				link: '#services'
			},
			{
				title: 'Repairs',
				link: '#repairs'
			},
			{
				title: 'Pricing',
				link: '#pricing'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		];
