section.section.section-lg.bg-default.text-center#services
	.container
		.row.row-lg-75.row-35
			.col-md-6.col-lg-4.wow-outer
				.wow.slideInLeft
					+box-icon-classic({
						classMod: 'decorate-triangle',
						icon: 'icon-xl electro-icon-02',
						title: 'Laptop Repair'
					})
						p We offer affordable repair services of all laptop brands and models to individual and corporate clients.
			.col-md-6.col-lg-4.wow-outer
				.wow.slideInDown
					+box-icon-classic({
						classMod: 'decorate-circle',
						icon: 'icon-xl electro-icon-04',
						title: 'Smartphone Repair'
					})
						p We provide smartphone repair services that include solutions even for the most complex issues.
			.col-md-6.col-lg-4.wow-outer
				.wow.slideInRight
					+box-icon-classic({
						classMod: 'decorate-rectangle',
						icon: 'icon-xl electro-icon-08',
						title: 'Computer Repair'
					})
						p Our highly qualified team offers a wide range of PC & Mac repair services as well as free diagnostics.
			.col-md-6.col-lg-4.wow-outer
				.wow.slideInLeft
					+box-icon-classic({
						classMod: 'decorate-circle',
						icon: 'icon-xxl electro-icon-11',
						title: 'Media Player Repair'
					})
						p The trained technicians of TechDoc maintain and repair a variety of media players.
			.col-md-6.col-lg-4.wow-outer
				.wow.slideInDown
					+box-icon-classic({
						classMod: 'decorate-rectangle',
						icon: 'icon-xl electro-icon-05',
						title: 'Smartwatch Repair'
					})
						p We are ready to help you get smartwatches of any brand and model working again.
			.col-md-6.col-lg-4.wow-outer
				.wow.slideInRight
					+box-icon-classic({
						classMod: 'decorate-triangle',
						icon: 'icon-xxl electro-icon-13',
						title: 'Game Console Repair'
					})
						p TechDoc provides reliable and reasonably priced game console repair services.